<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spotify Lite</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>

    @charset "UTF-8";
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

    body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color:#A7A1AE;
    background-color:#1F2739;
    }
    
    #add_artist_bttn:hover {
        background-color: #FFF842;
        color: #403E10;
          font-weight: bold;
    }
    
    #add_artist_bttn {
      overflow: hidden;
      background-color: #2C3446;
      font-family: Arial;
      border: none;
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/top_song.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form_css.css') }}" />
</head>

<body>
<!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Artist</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form action="/add_new_artist" id="artist_form" method="post" class="login-form">
            <input type="text" name="artist_name" id="artist_name" placeholder="Artist Name">
            <br><br>
            <input type="date" id="artist_dob" name="artist_dob" placeholder="Date of Birth">
            <br><br>
            <input type="text" name="artist_bio" id="artist_bio" placeholder="Bio">
            <br><br>
            <input class="submit_button" id="new_artist_submit" type="submit" value="Submit">
            <br><br>
        </form> 
        <div id="form-response"></div>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" id="reload_artist_options" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <div class="navbar">
    <a href="/top_10_songs">Top 10 Songs</a>
    <a href="/top_10_artist">Top 10 Artists</a>
    <a href="/add_song">Add a Song</a>
    <button type="button" id="add_artist_bttn" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Add Artist
    </button>        
    <button type="button" id="rating_bttn" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
      Rate a Song
    </button>        
  </div>
  <br>
  <div class="container">
    <h1><i>Add a Song</i></h1>
    <br>
    <div class="form">

      <form action="/adding_song" method="post" enctype="multipart/form-data" onsubmit="return checkForm(this);">
          <p><b>Song Name</b></p>
          <input type="text" name="song_name" placeholder="Enter the song name">
          <p><b>Date of Release</b></p>
          <input type="date" name="song_date" placeholder="Date Released">
          <p><b>Cover Image(.jpg format)</b></p>
          <input type="file" id= "cover_image" name="cover_image" placeholder="Cover Image" accept=".jpg">
          <p><b>Select Artist</b></p>
          <select name="artists" id="artists" multiple>
          {%for artst in artist_names%}
              <option value="{{artst}}">{{artst}}</option>
          {% endfor %}
            </select>
          <br><br>
          <input class="submit_button" type="submit" value="Submit">
      </form> 
    </div>
  </div>

<div class="modal" id="myModal1">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Artist</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <form action="/rating" method="post" class="login-form">
          <!-- drop down -->
          Select a Song: 
          <select name="song_list" id="songs_list">
            {% for sng in all_songs%}
                  <option value="{{sng}}">{{sng}}</option>
                {%endfor%}
        </select>
        <br><br>
        Your Rating:<input type="range" id="rting" name="rangeInput" min="0" max="5" step="0.1" onChange="change();"><span id="rs"></span>
          <br><br>
        <input id="rating_sbmt" class="submit_button" type="submit" value="Submit">
          <br><br>
      </form> 
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
</body>

<script>
  var result = document.getElementById("rs");
  var mine = document.getElementById("rting");
  function change(){
      result.innerText = mine.value;
  }

  function checkForm(form)
  {
    if(form.song_name.value == "") {
      alert("Error: song_name cannot be blank!");
      form.song_name.focus();
      return false;
    }
    re = /^\w+$/;
    if(!re.test(form.song_name.value)) {
      alert("Error: song_name must contain only letters, numbers and underscores!");
      form.song_name.focus();
      return false;
    }
  }
</script>
<script>
  $("#rating_sbmt").click(function(){
    alert("Your respone is recorded successfully");
  });

  $(document).ready(function() {
    $('#reload_artist_options').on('click',function(event){
      $.ajax({
        type : 'GET',
        url : '/add_artists_options'
      }).done(function(data){
        var $el = $("#artists");
      $el.empty(); // remove old options
      $.each(data, function(key,value) {
        $el.append($("<option></option>").attr("value", value).text(key));
      });
      });
      event.preventDefault();
    });
  });

  $(document).ready(function() {
  $('#artist_form').on('submit', function(event) {
    if(!$.trim($('#artist_name').val()).length) { // zero-length string AFTER a trim
      alert("artist name can't be blank");
      return false;
    }
    if(!$.trim($('#artist_bio').val()).length) { // zero-length string AFTER a trim
      alert("artist bio can't be blank");
      return false;
    }
    $.ajax({
      data : {
        artist_name : $('#artist_name').val(),
        artist_dob : $('#artist_dob').val(),
        artist_bio : $('#artist_bio').val()
      },
      type : 'POST',
      url : '/add_new_artist'
    }).done(function(data){
        alert("Added Artist Successfully\n\nPlease Click the Close button");
      });
    event.preventDefault();

  });

  });
</script>
</html>